# Python
__pycache__/
*.pyc
.venv/
venv/
env/

# Variables de entorno
.env

# Archivos generados por ScanExam
batches/*
output/*
sitio/*
models/*

# Archivos de pruebas (P2)
pruebas/
debug/
test/


# Mantener carpetas vacías necesarias
!batches/.gitkeep
!output/.gitkeep
!sitio/.gitkeep
!models/.gitkeep
!models/README.md

# SQLite
*.db
*.sqlite
*.sqlite3

# Jupyter
.ipynb_checkpoints/

# Sistema operativo
.DS_Store
Thumbs.db

# Archivos temporales
*.log
*.tmp